* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

body {
    font-family: Arial, sans-serif;
}

/* ===== Navbar General Styles ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #6c63ff;
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
     "slnt" 0,
     "CRSV" 0.5,
     "ELSH" 0,
     "ELXP" 0;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 45px;
    font-size: 20px;
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
     "slnt" 0,
     "CRSV" 0.5,
     "ELSH" 0,
     "ELXP" 0;
}


.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-links a.active,
.nav-links a:hover {
    color: #6c63ff;
}

/* ===== Hamburger Icon ===== */
.hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.hamburger.hide {
    display: none !important;
}

/* ===== Mobile Styles ===== */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        width: 200px;
        border-radius: 5px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    nav.show {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        padding: 10px;
        gap: 5px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .logo {
        font-size: 1.5rem;
    }
}
